<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<div class="container"> 
	<mat-toolbar >
	<div class="center-nav">
	  <button mat-stroked-button routerLink="/">Главная</button>
	  <button mat-stroked-button routerLink="/catalog">Каталог</button>
	  <button mat-stroked-button routerLink="/admin">Админ-панель</button>
	</div>
	<div class="right-nav">
		<button mat-stroked-button routerLink="/login">Войти</button>
		<button mat-stroked-button routerLink="/signup">Зарегистрироваться</button>
	</div>
 	</mat-toolbar>
</div> 
</body>
</html>